/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-300.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-300.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-300italic.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-300italic.woff') format('woff');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-regular.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-italic.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-500.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-500.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-500italic.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-500italic.woff') format('woff');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-700.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-700.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-700italic.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-700italic.woff') format('woff');
    font-style: italic;
    font-weight: 700;
}
/* ===== */

html, body {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    line-height: 1.15;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #fff;
    outline: none;
}

* > a {
    color: #fff;
}

body {
    background-image: linear-gradient(to bottom, #2f5bb5, #317cbf);
    background-size: cover;
    max-width: 100%;
}

.intro {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../image/bg.svg") no-repeat top -10% center;
    background-size: 60%;
    opacity: 0.15;

    @media (max-width: 768px) {
        background: url("../image/bg.svg") no-repeat top 30% center;
    }
}

#introsvg  {
    width: 100%;
    margin: 0 auto;
    height: 1300px;
    position: relative;
    z-index: -1;
}

.main__header {
    max-height: 65px;
}

.menu__slider {
    overflow: hidden;
    max-height: 65px;

    @media (max-width: 900px) {
        padding-left: 20px;
    }
}

.menu__line--item {
    margin: 0 16px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.5;
    padding: 24px 0;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    border-bottom: 4px solid transparent;

    @media (min-width: 768px) {
        transition: .3s linear;
    }
}

.menu__line--item:hover {

    @media (min-width: 768px) {
        opacity: 1;
        transition: .3s linear;
        border-bottom: 4px solid transparent;
    }
}

.menu__line--item:first-child {
    margin-left: 0;
}

.menu__line--item.active {
    opacity: 1;
    border-bottom: 4px solid #ffffff;
}

header .header__menu--line {
    background-color: transparent;
    border-bottom: solid 4px rgba(255, 255, 255, 0.1);
    position: relative;
    width: 100%;
}

.header__inner {
    position: relative;
    margin-bottom: -4px;
}

button, [type="button"], [type="reset"], [type="submit"] {
    display: none;
}

.top-search-field__form {
    position: relative;
    width: 100%;
}

.header__search--field #search_input {
    border: 0;
    border-bottom: 1px solid #fff;
    color: #ffffff;
    cursor: pointer;
    font-family: "robotomedium", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .5px;
    opacity: 0;
    padding: 3px 0;
    position: absolute;
    right: -100%;
    top: 3px;
    width: 100%;
    background-color: transparent;
    z-index: -10;
    transition: all .3s ease;
}

.header__search--field #search_input:focus {
    outline: none;
}

.header__search--field #search_input.show__input {
    right: 0;
    opacity: 1;
    z-index: 10;
    transition: all .3s ease;
}

.header__search--field #search_input::placeholder {
    color: #fff;
}

.header__search--field #search_submit {
    display: none;
}

[hidden] {
    display: none;
}

.header__search--field {
    display: flex;
    flex-direction: row;
    height: 25px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 18px;
    width: 200px;

    @media (max-width: 1200px) {
        top: 80px;
        margin-right: 15px;
    }
}

.top-search-field__icon {
    cursor: pointer;
    margin-right: 5px;
    color: #fff;
    font-size: 20px;
    height: 20px;
    width: 24px;
    background: url("../image/search.svg") no-repeat center center;
    background-size: 20px;
}

.currencies {
    position: absolute;
    right: 0;
    top: 150px;
    width: 170px;
    height: 150px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;

    @media (max-width: 1200px) {
        display: none;
    }
}

.currencies__row {
    height: 50px;
}

.currencies__change {
    position: relative;
    margin-left: 16px;
}

.currencies__head {
    margin-bottom: 30px;
    opacity: 0.5;
}

.currencies__name {
    font-size: 22px;
    opacity: 0.5;
    margin-right: 20px;
}

.currencies__buy,
.currencies__sell{
    font-size: 8px;
    opacity: 0.5;
    position: absolute;
    top: -10px;
}

.currencies__price {
    opacity: 1;
    font-size: 22px;
}


/*Main content*/


.wrapper {
    padding-top: 50px;
}

.h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 50px 0 20px;

    @media (max-width: 468px) {
        font-size: 2rem;
    }
}

.row__news--breaking {
    margin-bottom: 20px;
    box-shadow: 0 0 50px rgba(51, 51, 51, 0.35), 0 0 30px rgba(51, 51, 51, 0.2);
    transition: .3s linear;
}


.wrapper__news {
    padding: 80px 0 50px;

    @media (max-width: 576px) {
        padding: 80px 20px 50px;
    }
}


.news__breaking {
    height: 500px;
    background-color: #fff;
    transition: .3s linear;

    @media (max-width: 768px) {
        min-height: 350px;
        height: unset;
    }
}

.news__breaking--photo {
    background: url("../image/news__img-1.jpg") no-repeat left center;
    background-size: cover;
}

.news__breaking--preview {
    padding: 80px;

    @media (max-width: 1200px) {
        padding: 30px;
    }
}

.news__breaking .news__header {
    margin-bottom: 40px;
}

.news__breaking .news__text {
    font-size: 18px;
    margin-bottom: 40px;
}

.news__header {
    color: #222;
}

.news__text {
    color: #5f5e5e;
}

.news__date {
    color: #7e7e7e;
    font-size: 14px;
}

.news__date--breaking {
    height: 20px;
    padding-left: 27px;
    background: url(../image/clock.svg) no-repeat left 5px center;
    background-size: 14px;
}

.row__news {
    justify-content: space-between;
}

.news__link {
    width: 100%;
    height: 100%;
    display: block;
    transition: .3s linear;
}

.news__links {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.news__link:hover  .row__news--breaking {

    @media (min-width: 768px) {
        transform: scale(1.05);
        transition: .3s linear;
    }
}


.news {
    position: relative;
    max-width: 49%;
    background-color: #fff;
    padding: 30px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 0 50px rgba(51, 51, 51, 0.35), 0 0 30px rgba(51, 51, 51, 0.2);
    transition: .3s linear;


    @media (max-width: 1200px) {
        min-height: 215px;
    }

    @media (max-width: 768px) {
        max-width: unset;
        position: relative;
        padding: 0;
    }
}

.news:hover {

    @media (min-width: 768px) {
        transform: scale(1.05);
        transition: .3s linear;
    }
}

.news__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news__item--header {
    font-size: 18px;
    margin-bottom: 16px;
}

.news__item--text {
    text-overflow: ellipsis;
    height: 48px;
    overflow: hidden;
    padding: 12px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news__item--date {
    height: 12px;
    padding-left: 20px;
    background: url(../image/clock.svg) no-repeat left 5px center;
    background-size: 12px;
}

.date {
    font-size: 12px;
    margin-top: 16px;
    color: #7e7e7e;
}

.news__item--nophoto .news__item--preview,
.news__item--wide .news__item--preview {
    width: 100%;
}

.news__item--wide {
    position: relative;
    padding: 0;
}

.news__item--regular .news__item--photo,
.news__item--video .news__item--photo {
    @media (max-width: 768px) {
        display: none;
    }
}

.news .news__item--preview {
    @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 30px;
        justify-content: space-between;
    }
}

.news__item--wide .news__item--photo {
    width: 100%;
    height: 100%;
    background: url("../image/news__img-3.jpg") no-repeat center center;
    background-size: cover;
}

.news__item--wide .news__item--preview {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    justify-content: flex-end;
}

.news__item--wide .news__item--header {
    color: #fff;
}

.news__item--wide .news__item--text {
    display: none;
}

.news__item--regular .news__item--photo,
.news__item--video .news__item--photo {
    background: url("../image/news__img-2.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    margin-right: 30px;
    position: relative;
}

.news__item--nophoto .news__item--photo {
    display: none;
}

.news__item--photo a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.news__item--photo a:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 50%;
}

.news__item--photo a:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 24px;
    background: url(../image/triangle.svg) no-repeat center center;
    background-size: contain;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 51%;
    color: #00549e;
}


.wrapper__slider {
    width: 100%;
    background-color: #fff;
}

.wrapper__slider .row {
    border-left: 1px solid #ccddec;
}

.wrapper__slider a {
    color: #222222;
}

.main__slick {
    max-width: 1040px;
}

.main__slider .slide {
    border-right: 1px solid #ccddec;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 100%;
    margin-right: -1px;
    min-height: 350px;
    max-width: 300px;
    padding: 40px;
    position: relative;
    text-decoration: none;
    width: auto;
    z-index: 20;
}

.main__slider .slide__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    left: 0;
    position: relative;
    transition: all 1s ease;
    z-index: 100;
}

.main__slider .slide:before {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 0 50px rgba(51, 51, 51, 0.35), 0 0 30px rgba(51, 51, 51, 0.2);
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease;
    z-index: -1;
}

.main__slider .date {
    margin-top: 50px;
}

.main__slider .slide__title {
    color: #00549e;
    text-transform: uppercase;
    font-size: 14px;
}

.main__slider .slide__text {
    color: #222222;
    font-size: 18px;
    font-weight: 500;
    flex: 1;
    line-height: 24px;
    padding-bottom: 20px;
    padding-top: 16px;
    max-width: 240px;
    margin-top: 70px;
}

.main__slider .slide:hover:before {

    @media (min-width: 768px) {
        bottom: -30px;
        left: -30px;
        opacity: 1;
        right: -30px;
        top: -30px;
    }
}

.slick-arrow {
    position: absolute;
    right: -60px;
}

.slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 30px;
    display: block;
    padding: 0;
    cursor: pointer;
    color: transparent;
    outline: 0;
    outline: none;
    width: 40px;
    height: 40px;
    border: 1px solid #80aacf;
    border-radius: 3px;
    background: url(../image/active-arrow.svg) no-repeat center center;
    background-size: 8px;
}


.slick-disabled {
    background: url(../image/nonactive-arrow.svg) no-repeat center center;
    background-size: 8px;
}

.slick-next:focus, .slick-prev:focus {
    outline: none;
}

.slick-next {
    right: -100px;
    transform: rotate(-180deg);
}

.main__slider .slick-next:before, .main__slider  .slick-prev:before {
    content: ' ';
    display: block;
    position: relative;
}

.slick-dots {
    bottom: 20px;
    list-style-type: none;
}

.slick-dotted.slick-slider {
    margin: 0;
}

.slick-dots li button:before {
    content: '.';
    color: #ccddec;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    color: #00549e;
}



.wrapper__banner {
    width: 100%;
    height: 450px;
}

.banner {
    width: 100%;
    height: 100%;
    background: url("../image/banner.jpg") no-repeat center right;
    background-size: cover;
}

.h2 {
    font-size: 2.5rem;
    margin-bottom: 70px;

    @media (max-width: 468px) {
        font-size: 2rem;
    }
}

.banner__date {
    font-size: 18px;
    color: #9f9f9f;
    height: 20px;
    padding-left: 27px;
    background: url(../image/clock.svg) no-repeat left 5px center;
    background-size: 18px;
}

.banner__link {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner__preview {
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}




.menu__line--list {
    max-height: 65px;
    overflow: hidden;

    @media (max-width: 900px) {
        padding-left: 15px;
    }
}

footer .footer__menu--line {
    background-color: transparent;
    border-bottom: solid 4px rgba(255, 255, 255, 0.1);
    position: relative;
    width: 100%;
}

.footer__inner {
    position: relative;
    margin-bottom: -4px;
}

.newsletter__input {
    display: inline-block;
}

.footer__bottom {
    min-height: 120px;
    padding-top: 50px;

    @media (max-width: 900px) {
        padding-top: 20px;
    }
}

.footer__bottom--section {
    display: inline-block;
    text-align: left;
    padding: 22px 0;

    @media (max-width: 1200px) {
        text-align: center;
    }

        &:nth-child(3) {
            padding-top: 12px;
        }
}

.footer__row {
    justify-content: space-between;
}

.footer__input {
    float: left;
    outline: none;
    width: 300px;
    height: 40px;
    padding: 12px;
    border: 1px solid #fff;
    font-weight: lighter;
    font-size: 15px;
    color: #fff;
    background-color: transparent;

    @media (max-width: 900px) {
        float: none;
        width: 200px;
        margin: 0 auto;
    }

       &::placeholder {
            color: #fff;
        }
}

.footer__input--button {
    float: left;
    display: block;
    outline: none;
    height: 40px;
    background-color: #fff;
    border: none;
    color: #166ec2;
    padding: 14px 32px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: 900px) {
        float: none;
        width: 200px;
        margin: 10px auto;
    }

       &:hover {
            color: #166ec2;
        }
}

.footer__copyright {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    opacity: 0.5;
    display: inline-block;
    position: relative;
    transition: .3s linear;
}

.contact__input {
    text-align: center;
}



/*BREADCRUMBS*/

.breadcrumb {
    background: transparent;
    justify-content: center;
}

.breadcrumb__link {
    color: #fff;
    text-decoration: none;
}

.breadcrumb__item.is-active {
    list-style-type: none;
    display: inline;
    color: #fff;
    opacity: 0.5;
}

.breadcrumb__item + .breadcrumb__item:before {
    content: ">";
    display: inline-block;
    color: #fff;
    opacity: 1;
    margin: 0 10px;
}



/*CALENDAR*/

.calendar {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.calendar__span {

    @media (max-width: 576px) {
        display: block;
    }
}

.calendar__label {
    display: none;
}

.calendar__inner {
    display: inline-block;
    position: relative;
}

.calendar__input {
    width: 150px;
    height: 40px;
    background: url(../image/calendar.svg) no-repeat center right 10px;
    background-size: 18px;
    border: 1px solid #bebebe;
    border-radius: 3px;
    padding: 12px 12px 13px;
    margin: 10px;

        &:focus {
             outline: none;
         }

        &::placeholder {
             color: #bebebe;
             font-size: 14px;
         }

        @media (max-width: 576px) {
            display: block;
            margin: 10px auto;
        }
}



/*NEWS PAGE*/


.news__wrapper {
    background-color: #fff;
    padding: 50px 0px;

    @media (max-width: 768px) {
        padding: 50px 15px;
    }
}

.news__block {
    border: 1px solid #e1e1e1;
    min-height: 250px;
    margin: 20px auto 0;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px rgba(51, 51, 51, 0.1);
    background-color: #fff;

        &:before {
             background-color: #fff;
             bottom: 0;
             box-shadow: 0 0 50px rgba(51, 51, 51, 0.35), 0 0 30px rgba(51, 51, 51, 0.2);
             content: '';
             left: 0;
             opacity: 0;
             position: absolute;
             right: 0;
             top: 0;
             transition: all .3s ease;
             z-index: 5;

         }

        &:hover:before {

            @media (min-width: 768px) {
                bottom: -30px;
                left: -30px;
                opacity: 1;
                right: -30px;
                top: -30px;
            }
        }
}

.news__block--photo {
    height: 100%;
    background: url("../image/news-img-4.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 10;

    @media (max-width: 768px) {
        display: none;
    }
}

.news__block--text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
}

.news__block--photo + .news__block--text {

    @media (min-width: 768px) {
        padding-left: 30px;
    }
}

.news__button {
    border: 2px solid #e1e1e1;
    text-align: center;
    height: 60px;
    color: #323232;
    margin-top: 20px;
    padding-top: 18px;
    font-weight: 500;
    font-size: 18px;

        &:hover {
            background-color: #e1e1e1;
             color: #323232;
         }
}


/*ABOUT*/

.page__block_white {
    background-color: #ffffff;
    z-index: 2;
}

.page__block {
    width: 100%;
    position: relative;
}

.page__inner_flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.page__inner {
    margin: 40px auto;
    width: 1120px;
}

.slider-news, .news-slider {
    display: inline-block;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin-bottom: -20px;
    margin-left: -160px;
    margin-top: -20px;
    max-width: 80%;
    padding: 60px 30px 60px 160px;
    position: relative;
    z-index: 10;
}

.block-right {
    color: #303239;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: 500;
    padding: 48px 0 48px 68px;
}

.slider-news__layer-prev, .news-slider__layer-prev {
    background-color: #ffffff;
    bottom: -10px;
    box-shadow: 0 0 81px 0 rgba(30, 48, 85, 0.4);
    left: -10px;
    margin-right: 30px;
    opacity: 0;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.slider-news__layer-active, .news-slider__layer-active {
    background-color: #ffffff;
    bottom: 0;
    box-shadow: 0 0 81px 0 rgba(30, 48, 85, 0.4);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 90;
}

.slider-news__layer-next, .news-slider__layer-next {
    background-color: #ffffff;
    bottom: 10px;
    box-shadow: 0 0 81px 0 rgba(30, 48, 85, 0.4);
    left: 10px;
    margin-right: -30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 80;
}

.slider-news__body, .news-slider__body {
    position: relative;
    width: 100%;
    z-index: 110;
}

.slider-news__content.active, .news-slider__content.active {
    display: block;
}

.slider-news__item, .news-slider__item {
    background-color: #ffffff;
    left: 0;
    opacity: 0;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all 1s ease;
    z-index: -1;
}

.slider-news__item_active, .news-slider__item_active {
    background-color: #ffffff;
    opacity: 1;
    z-index: 10;
}

.slider-news__title, .news-slider__title {
    color: #303239;
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 48px;
}

.slider-news__text, .block-news__text, .list-numeric__item, .block-right__text_custom, .block-right__text i_custom, .news-slider__text {
    color: #303239;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 48px;
}

.slider-news__text p, .block-news__text p, .list-numeric__item p, .block-right__text_custom p, .block-right__text i_custom p, .news-slider__text p {
    margin: 0 0 32px 0;
}

@media only screen and (max-width: 1119px) and (min-width: 768px){
    .slider-news, .news-slider {
        margin-left: 0;
        padding: 60px 24px 60px 24px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1119px) and (min-width: 768px) {
    .page__inner {
        width: 100%;
    }
}


.callback__input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    margin-bottom: 15px;

    &:focus {
        outline: none;
     }

    &::placeholder {
        color: #909090;
        font-weight: 500;
     }
}

.callback__input--textarea {
    height: 150px;
}

.btn {
    color: #ffffff;
    text-decoration: none;
    display: block;
    cursor: pointer;
    outline: none;
    text-align: center;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    font-weight: normal;
    transition: all .2s ease;
    letter-spacing: 0.5px;
}

.btn {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-weight: normal;
    letter-spacing: 0.5px;
    outline: none;
    text-align: center;
    text-decoration: none;
}

.btn {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #ccddec;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: 500;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 48px;
    min-width: 48px;
    padding: 19px 48px;
}

.btn_with-icon {
    border-width: 1px;
    font-size: 12px;
    padding: 11px 20px;
    text-transform: none;
}

.btn_wide {
    width: 100%;
}
.btn_blue {
    background-color: #155fbc;
    border: none;
    color: #ffffff;
}
.btn_big-size {
    font-size: 16px;
    line-height: 1;
    padding: 23px;
    min-width: 352px;
}


/*404*/

.wrapper__404 {
    height: 100%;
    min-height: 500px;

    @media (min-width: 1200px) {
        padding: 100px;
    }

    @media (max-width: 1200px) {
        min-height: 400px;
    }
}

.row__404 {
    margin: 80px auto;
}

.under-construction__letters {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;

    @media only screen and (max-width: 767px) and (min-width: 320px){
        padding: 0 16px;
    }
}

.under-construction__letter-logo {
    border: 1px solid #ffffff;
    border-radius: 100%;
    margin: 0 24px;
    padding: 22px;
    width: 200px;
    height: 200px;

    @media only screen and (max-width: 767px) and (min-width: 320px){
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100px;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        padding: 10px;
        width: 100px;
    }
}

.under-construction__letter-logo svg {
    width: 155px;
    height: 155px;
}

.under-construction__digit svg {
    width: 200px;
    height: 200px;

    @media only screen and (max-width: 767px) and (min-width: 320px) {
        height: 100px;
        width: 100px;
    }
}

.under-construction__title {
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.under-construction__text {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 12px;
    opacity: 0.5;
    text-align: center;
}



/*PHOTO*/


.container__padded {
    padding-top: 30px;
    padding-bottom: 30px;
}

.row__photo {
    justify-content: space-between;
    min-height: 450px;
}

.container__padded .news {
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.1), 0 0 5px rgba(51, 51, 51, 0.1);
}

